<% layout('../layouts/default') %>
<div class="container">
  <h1>Your Pumped Profile</h1>
  <div class="row">
    <div class="span4" style="padding-top: 5px;">
      <p>You can update your profile here. Setting your planned mileage target,
        fundraising target/progress as well as your email preferences.</p>
      <p>Its not currently possible to change your username or email address within
        the system, if you need to please send an email request to support@pumped.org.uk.</p>
        <% if(user.isadmin) { %>
          <p><a href="/private/export" class="btn">Export Activity Data</a></p>
          <p><a href="/private/export-users" class="btn">Export User Data</a></p>
        <% } %>
    </div>
    <div class="span8">
      <div class="row">
        <div class="span8">
          <form class="form-horizontal" action="/private/account/update" method="post">
            <div class="control-group">
              <label class="control-label">Username</label>
              <div class="controls">
                <span class="uneditable-input input-xlarge"><%= user.username %></span> 
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputEmail">Email</label>
              <div class="controls">
                <span class="uneditable-input input-xlarge"><%= user.email %></span> 
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="plannedmileage">Log Unit</label>
              <div class="controls">
                <select id="logtypeunit" name="logtypeunit" class="input-mini">
                 <option value="mi"<%= user.logtypeunit == 'mi' ? ' selected' : '' %>>mi</option>
                 <option value="km"<%= user.logtypeunit == 'km' ? ' selected' : '' %>>km</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="plannedmileage">Planned Mileage</label>
              <div class="controls">
                <input type="text" placeholder="0" class="input-small" id="plannedmileage" name="plannedmileage" value="<%= user.plannedmileage %>" /> 
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="fundraisingtarget">Fundraising Target</label>
              <div class="controls">
                <input type="text" placeholder="0" class="input-small" id="fundraisingtarget" name="fundraisingtarget" value="<%= user.fundraisingtarget || 0 %>" /> 
              </div>
            </div>
            <!--<div class="control-group">
              <label class="control-label" for="fundraisingtotal">Fundraising Total</label>
              <div class="controls">
                <input type="text" placeholder="0" class="input-small" id="fundraisingtotal" name="fundraisingtotal" value="<%= user.fundraisingtotal || 0 %>" /> 
              </div>
            </div>-->
            <div class="control-group">
              <label class="control-label">Email Preferences</label>
              <div class="controls">
                <label class="checkbox">
                  <input name="newsletters" type="checkbox"<%= (user.newsletters === true ? ' checked' : '') %> value="true"> Newsletter</label>
                <label class="checkbox">
                  <input  name="teamupdates" type="checkbox"<%= (user.teamupdates === true ? ' checked' : '') %> value="true"> Team Updates</label>
              </div>
            </div>
            <% if(user.isteamlead) { %>
            <div class="control-group">
              <label class="control-label" for="teamfundraisingpage">Team Fundraising Page</label>
              <div class="controls">
                <input type="text" placeholder="Enter Url" class="input-xxlarge" id="teamfundraisingpage" name="teamfundraisingpage" value="<%= team.teamfundraisingpage || '' %>" /> 
              </div>
            </div>
            <% } %>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>